@charset "UTF-8";
/* reset css */
@import url("https://use.typekit.net/ygi7sav.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
section,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  line-height: initial;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
}

.noto-sans {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.athelas {
  font-family: athelas, serif;
  font-weight: 400;
  font-style: normal;
}

.yu-kyokasho {
  font-family: Yu Kyokasho New B, cursive;
  font-weight: 700;
  font-style: normal;
}

.vertical {
  writing-mode: vertical-lr;
  font-size: 1.75rem;
}
@media (max-width: 32.25rem) {
  .vertical {
    writing-mode: horizontal-tb;
  }
}

button,
input[type=submit] {
  background: transparent;
  cursor: pointer;
  color: white;
  border-width: 0.125rem;
  border-style: solid;
  border-radius: 0.375rem;
  transition: box-shadow 0.2s;
  border: none;
}
button[disabled],
input[type=submit][disabled] {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.34) 50%, rgba(255, 255, 255, 0.2) 100%) !important;
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  border-color: rgba(255, 255, 255, 0.5) !important;
}
button[disabled]:hover,
input[type=submit][disabled]:hover {
  box-shadow: none;
}

form .input {
  position: relative;
  border-radius: 0.375rem;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1) 0%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
}
form .input::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.375rem;
  padding: 0.125rem;
  background: linear-gradient(to left bottom, white 0%, transparent 50%, white 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
form input {
  color: white;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  padding: 0.625rem;
  border-radius: 0.375rem;
  position: relative;
  margin-bottom: -0.125rem;
}
form input[type=text] {
  padding: 0.625rem 1.75rem;
  letter-spacing: 0.125rem;
  border: none;
  background: transparent;
}
form input[type=text]::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
form input[type=submit] {
  letter-spacing: 0.0625rem;
  font-weight: 800;
  border-color: #ffc736;
  background: linear-gradient(to right bottom, #fcff61 0%, #d5551d 100%);
}
form input[disabled] {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.3) 100%);
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  border-color: rgba(255, 255, 255, 0.3);
}
form input[disabled]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
form input[disabled]:hover {
  box-shadow: none;
}
@media (max-width: 64rem) {
  form input {
    font-size: 0.875rem;
  }
  form input[type=text] {
    padding: 0.625rem 0.875rem;
  }
}

.popUp {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(6, 8, 22, 0.6);
  z-index: 10;
}
.popUp .popUp--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.375rem;
  background: linear-gradient(to bottom, #3a3a2c 0%, #9f8542 50%, #0d0d0d 100%);
  box-shadow: 0 0 40px black;
  padding: 3.75rem 3rem;
  width: 60dvw;
  max-height: 80dvh;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.8);
}
.popUp .popUp--container .popUp--close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  height: 2.75rem;
  width: 2.75rem;
  padding: 8px;
  border: none;
  text-align: center;
  transition: all 0.2s linear;
  margin: 0;
}
.popUp .popUp--container .popUp--close img {
  width: 100%;
}
.popUp .popUp--container .popUp--close:hover {
  box-shadow: none;
  transform: scale(1.1);
}
.popUp .popUp--container .popUp--content {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 1.75rem;
  margin-right: -1.5rem;
  padding-right: 1.5rem;
  max-height: calc(80svh - 12.25rem);
  min-height: max-content;
}
.popUp .popUp--container h3 {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.25rem;
  line-height: 2.75rem;
  font-weight: 700;
  width: calc(100% - 7.5rem);
  color: white;
}
.popUp .popUp--container button {
  margin: 40px auto 12px;
  padding: 8px 80px;
}
.popUp .popUp--container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.375rem;
  opacity: 0.85;
  padding: 0.125rem;
  background: linear-gradient(to right, #dbcc44 0%, #e1b544 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.popUp.active {
  display: block;
}
@media (max-width: 64rem) {
  .popUp .popUp--container {
    width: 80svw;
    padding: 1.5rem;
    padding-right: 2.5rem;
  }
  .popUp .popUp--container h3 {
    font-size: 4.5svw;
  }
  .popUp .popUp--container .popUp--content {
    margin-top: 2.5rem;
  }
}

table {
  margin: 1.25rem 4.25rem 0 4.25rem;
  width: calc(100% - 8.5rem);
  border-collapse: separate;
  border: 0.03125rem solid white;
  border-radius: 0.375rem;
  color: white;
  font-size: 0.875rem;
}
table th,
table td {
  padding: 0.625rem 0.75rem;
  border: 0.03125rem solid white;
  font-family: "Inter", Arial, sans-serif;
}
table thead tr {
  background-color: rgba(41, 41, 41, 0.6);
}
table thead tr th {
  font-weight: 600;
  text-align: left;
}
table thead tr th:first-child {
  min-width: 7.5rem;
}
table thead tr:first-child {
  border-top-left-radius: 0.375rem;
}
table thead tr:last-child {
  border-top-right-radius: 0.375rem;
}
table tbody {
  font-weight: 400;
}
table tbody tr {
  background-color: rgba(255, 255, 255, 0.15);
}
table tbody tr td span {
  display: flex;
  gap: 0.125rem;
  align-items: center;
}
table tbody tr:first-child {
  background-color: rgba(23, 8, 8, 0.3);
}
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.375rem;
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.375rem;
}

.tooltip {
  display: inline;
  position: relative;
}
.tooltip .tooltip-content {
  display: none;
  position: absolute;
  z-index: 5;
  top: 1.25rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(89, 87, 87, 0.8);
  padding: 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  width: 33.75rem;
  height: fit-content;
  max-width: calc(100svw - 2.5rem);
  font-size: 0.875rem;
  font-weight: 300;
}
.tooltip .tooltip-content .close {
  display: none;
}
.tooltip .tooltip-content ul {
  margin: 0 0 1rem 0;
  list-style-type: disc;
  line-height: 1.5;
  margin-left: 1rem;
}
.tooltip .tooltip-content::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent transparent rgba(89, 87, 87, 0.8) transparent;
}
.tooltip .tooltip-content.show {
  display: block;
}
@media (max-width: 32.25rem) {
  .tooltip .tooltip-content {
    position: fixed;
    top: 50%;
    left: 1.25rem;
    transform: translate(0, -70%);
    padding-top: 3.25rem;
  }
  .tooltip .tooltip-content .close {
    display: inline;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    font-size: 2.5rem !important;
  }
  .tooltip .tooltip-content::before {
    display: none;
  }
}

.slick {
  margin-bottom: 0 !important;
}
.slick .slick-arrow {
  top: auto;
  bottom: 5rem;
  width: auto;
  height: auto;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  z-index: 5;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.0625rem;
  padding: 0.5rem 0.25rem;
  border-radius: 0;
  border-bottom: 0.0625rem solid white;
  color: white;
  font-family: "Outfit", Arial, sans-serif;
  transition: transform 0.2s;
  backdrop-filter: blur(0.0625rem);
}
.slick .slick-arrow::before {
  opacity: 1;
}
.slick .slick-arrow.slick-prev {
  left: 4rem;
}
.slick .slick-arrow.slick-prev::before {
  content: url(../img/icon/arrowL.svg);
}
.slick .slick-arrow.slick-next {
  right: 4rem;
}
.slick .slick-arrow.slick-next::before {
  content: url(../img/icon/arrowL.svg);
  transform: rotate(180deg);
  order: 2;
}
.slick .slick-arrow:hover {
  box-shadow: none;
}
.slick .slick-arrow:hover.slick-prev {
  transform: translate(-0.5rem, -50%);
}
.slick .slick-arrow:hover.slick-next {
  transform: translate(0.5rem, -50%);
}
.slick .slick-dots {
  bottom: 2rem;
}
.slick .slick-dots li {
  height: 0.1875rem;
  width: 3.125rem;
}
.slick .slick-dots li button {
  height: 0.1875rem;
  width: 3.125rem;
}
.slick .slick-dots li button::before {
  content: "";
  height: 0.1875rem;
  width: 3.125rem;
  background-color: white;
  transition: opacity 0.3s;
}
.slick .slick-dots li button:hover {
  box-shadow: none;
}
@media (max-width: 64rem) {
  .slick .slick-arrow {
    bottom: 1.25rem;
  }
  .slick .slick-arrow.slick-prev {
    left: 1.5rem;
  }
  .slick .slick-arrow.slick-next {
    right: 1.5rem;
  }
  .slick .slick-dots {
    bottom: auto;
    top: 90svw;
  }
}

/* -- Global.scss -- */
/* 反白選取樣式 */
::-moz-selection {
  background-color: #de8b44;
  color: #ffffff;
}

::selection {
  background-color: #de8b44;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background-color: #de8b44;
  border-radius: 0.25rem;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  font-family: athelas, "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: #fcfcfd;
  color: #595757;
  width: 100dvw;
  line-height: 2;
  font-size: 1.125rem;
  font-weight: 500;
  overflow-x: hidden;
}
body::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100svw;
  height: 125rem;
  background-image: url("../img/bg_top.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}
@media (max-width: 64rem) {
  body::before {
    background-size: 150%;
  }
}
@media (max-width: 32.25rem) {
  body::before {
    background-size: 200%;
  }
}

img {
  max-width: 100%;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  min-width: max-content;
  position: relative;
  margin-bottom: 2.75rem;
}
@media (max-width: 64rem) {
  h2 {
    margin-bottom: 1.25rem;
  }
}

h4 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1.75rem;
}

.small {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: #324c61;
  transition: color 0.2s;
}
a:hover {
  color: #de8b44;
}

ul {
  margin-top: 1.5rem;
  line-height: 2;
}

section {
  position: relative;
  padding: 0 8.75rem;
}
@media (max-width: 64rem) {
  section {
    padding: 1.25rem;
  }
}

#keyvision {
  width: 100dvw;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40svw;
}
#keyvision .main-logo {
  max-width: 42.5rem;
}
#keyvision .deco {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
#keyvision .deco .anser {
  position: absolute;
}
#keyvision .deco .anser01 {
  animation: anser01 30s both;
}
#keyvision .deco .anser02 {
  animation: anser02 30s both;
}
#keyvision .deco .anser03 {
  animation: anser03 30s both;
}
#keyvision .deco .anser04 {
  animation: anser04 30s both;
}
@keyframes anser01 {
  0% {
    width: 3.5svw;
    right: 13svw;
    top: 15svw;
  }
  100% {
    width: 4svw;
    right: 15svw;
    top: 11svw;
  }
}
@keyframes anser02 {
  0% {
    width: 5svw;
    right: 10svw;
    top: 14svw;
  }
  100% {
    width: 5.5svw;
    right: 14svw;
    top: 15svw;
  }
}
@keyframes anser03 {
  0% {
    width: 1svw;
    right: 33svw;
    top: 5svw;
  }
  100% {
    width: 1.5svw;
    right: 38svw;
    top: 7svw;
  }
}
@keyframes anser04 {
  0% {
    width: 4svw;
    left: 14svw;
    top: 24svw;
  }
  100% {
    width: 3svw;
    left: 12svw;
    top: 21svw;
  }
}
@media (max-width: 32.25rem) {
  #keyvision .deco .anser01 {
    animation: anser01 30s both;
  }
  #keyvision .deco .anser02 {
    animation: anser02 30s both;
  }
  #keyvision .deco .anser03 {
    animation: anser03 30s both;
  }
  #keyvision .deco .anser04 {
    animation: anser04 30s both;
  }
  @keyframes anser01 {
    0% {
      width: 7svw;
      right: 5svw;
      top: 23svh;
    }
    100% {
      width: 10svw;
      right: 15svw;
      top: 21svh;
    }
  }
  @keyframes anser02 {
    0% {
      width: 6svw;
      right: 11svw;
      top: 24svh;
    }
    100% {
      width: 8svw;
      right: 12.5svw;
      top: 22svh;
    }
  }
  @keyframes anser03 {
    0% {
      width: 4svw;
      left: 15svw;
      top: 6svh;
    }
    100% {
      width: 5svw;
      left: 10svw;
      top: 7svh;
    }
  }
  @keyframes anser04 {
    0% {
      width: 5svw;
      left: auto;
      right: 7svw;
      top: 85svh;
    }
    100% {
      width: 7svw;
      left: auto;
      right: 12svw;
      top: 80svh;
    }
  }
}

#about {
  display: flex;
  flex-wrap: wrap;
  margin: 12.5rem 0;
  gap: 0 3.75rem;
}
#about h2 {
  flex: 100%;
}
#about .about-content {
  padding-top: 3.75rem;
  flex: 1;
  line-height: 1.5;
}
#about .about-content > p {
  margin: 1rem 0;
}
#about .about-content i {
  font-size: 0.875rem;
  cursor: pointer;
  transform: translate(0, -0.375rem);
  margin: 0 -0.125rem;
}
@media (max-width: 64rem) {
  #about {
    gap: 1rem;
  }
  #about h2 {
    text-align: right;
  }
  #about .about-content {
    padding-top: 1rem;
  }
}
@media (max-width: 32.25rem) {
  #about {
    flex-wrap: wrap;
    gap: 0;
  }
  #about h2 {
    text-align: left;
    margin-bottom: 0;
  }
  #about .vertical {
    flex: 100%;
  }
}

#attorneys {
  position: relative;
  display: flex;
  gap: 3.375rem;
  margin-bottom: 18.75rem;
}
#attorneys .vertical {
  margin-top: 13.75rem;
}
#attorneys > div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}
#attorneys > div .photo {
  display: flex;
  justify-content: flex-end;
}
#attorneys > div .photo img {
  width: 13.125rem;
}
#attorneys > div h4 {
  margin-bottom: 1.5rem;
}
#attorneys > div .desc {
  flex: 1;
  line-height: 1.8;
}
#attorneys > div .desc dt {
  font-weight: 600;
}
#attorneys > div .desc dd {
  font-weight: 300;
  text-align: justify;
}
#attorneys > div .desc dd + dt {
  margin-top: 1.25rem;
}
@media (max-width: 32.25rem) {
  #attorneys {
    flex-wrap: wrap;
    gap: 0;
  }
  #attorneys .vertical {
    flex: 100%;
    margin-bottom: 1rem;
  }
  #attorneys > div h4 {
    margin-bottom: 0;
  }
  #attorneys > div .photo {
    order: 1;
    justify-content: center;
    margin-bottom: 1.25rem;
  }
  #attorneys > div .desc {
    order: 2;
  }
}

#service {
  display: flex;
  flex-wrap: wrap;
  gap: 0 3.75rem;
  color: #ffffff;
}
#service ul {
  margin-top: 3.75rem;
  list-style-type: disc;
  flex: 1;
}
#service ul li {
  line-height: 1.5;
  margin-bottom: 0.75rem;
}
@media (max-width: 32.25rem) {
  #service {
    flex-direction: column;
  }
  #service ul {
    margin: 1.25rem 0 0 1.25rem;
  }
}

footer {
  position: relative;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  padding: 25svw 3.75rem 3.75rem;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.625rem;
}
footer .line {
  max-width: 6.25rem;
}
footer .contact {
  text-align: left;
}
footer p {
  font-size: 1.25rem;
  font-family: athelas, Yu Kyokasho New B, cursive;
}
footer a {
  color: #ffffff;
  color: #ffffff;
  transition: color 0.2s;
}
footer a:hover {
  color: #de8b44;
}
footer .desc {
  flex: 100%;
  font-size: 1rem;
}
footer .desc br {
  display: none;
}
footer .deco {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
footer .deco .footer-anser {
  position: absolute;
}
footer .deco .footer-anser01 {
  animation: footer-anser01 30s 60s both;
}
footer .deco .footer-anser02 {
  animation: footer-anser02 30s 60s both;
}
footer .deco .footer-anser03 {
  animation: footer-anser03 30s 60s both;
}
@keyframes footer-anser01 {
  0% {
    width: 4svw;
    right: 15svw;
    bottom: 10svw;
  }
  100% {
    width: 5svw;
    right: 17svw;
    bottom: 12svw;
  }
}
@keyframes footer-anser02 {
  0% {
    width: 3svw;
    right: 12svw;
    bottom: 5svw;
  }
  100% {
    width: 5.5svw;
    right: 14svw;
    bottom: 12svw;
  }
}
@keyframes footer-anser03 {
  0% {
    width: 4svw;
    left: 13svw;
    bottom: 10svw;
  }
  100% {
    width: 4.5svw;
    left: 16svw;
    bottom: 12svw;
  }
}
footer::before {
  position: absolute;
  z-index: -1;
  content: "";
  bottom: 0;
  left: 0;
  width: 120svw;
  height: 312.5rem;
  background-image: url("../img/bg_bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
}
@media (max-width: 64rem) {
  footer::before {
    background-size: 180%;
  }
}
@media (max-width: 32.25rem) {
  footer {
    padding: 18.75rem 1.25rem 6.25rem;
  }
  footer .contact {
    text-align: center;
    flex: 100%;
  }
  footer .desc {
    line-height: 1.5;
  }
  footer .desc br {
    display: inline;
  }
  footer .deco .footer-anser01 {
    animation: footer-anser01 30s 60s both;
  }
  footer .deco .footer-anser02 {
    animation: footer-anser02 30s 60s both;
  }
  footer .deco .footer-anser03 {
    animation: footer-anser03 30s 60s both;
  }
  @keyframes footer-anser01 {
    0% {
      width: 8svw;
      right: 4svw;
      bottom: 2svh;
    }
    100% {
      width: 9svw;
      right: 11svw;
      bottom: 5svh;
    }
  }
  @keyframes footer-anser02 {
    0% {
      width: 5svw;
      right: 8svw;
      bottom: 4svh;
    }
    100% {
      width: 7svw;
      right: 9svw;
      bottom: 5svh;
    }
  }
  @keyframes footer-anser03 {
    0% {
      width: 5svw;
      left: 5svw;
      bottom: 25svh;
    }
    100% {
      width: 7svw;
      left: 12svw;
      bottom: 30svh;
    }
  }
  footer::before {
    background-size: 400%;
  }
}