/* -- Global.scss -- */
/* 反白選取樣式 */
::-moz-selection {
  background-color: color(secondary);
  color: color(white);
}

::selection {
  background-color: color(secondary);
  color: color(white);
}

::-webkit-scrollbar {
  width: px(8);
  background-color: transparent;
  border-radius: px(4);
}

::-webkit-scrollbar-thumb {
  width: px(8);
  background-color: color(secondary);
  border-radius: px(4);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  font-family: athelas, "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: #fcfcfd;
  color: color(gray);
  width: 100dvw;
  line-height: 2;
  @include font(18);

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100svw;
    height: px(2000);
    background-image: url("../img/bg_top.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
  }

  @include max-to(mobile) {
    &::before {
      background-size: 200%;
    }
  }
}

img {
  max-width: 100%;
}

h2 {
  font-size: px(48);
  font-weight: weight(Regular);
  min-width: max-content;
  position: relative;
  margin-bottom: px(44);

  @include max-to(pad) {
    margin-bottom: px(20);
  }
}

h4 {
  font-size: px(28);
  font-weight: weight(SemiBold);
  line-height: 1.5;
  margin-bottom: px(28);
}

.small {
  font-size: px(16);
  font-weight: weight(Regular);
}

a {
  @include a-color;
}

ul {
  margin-top: px(24);
  line-height: 2;
}
