section {
  position: relative;
  overflow: hidden;
  padding: 0 px(140);

  @include max-to(pad) {
    padding: px(20);
  }
}

#keyvision {
  width: 100dvw;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40svw;

  .main-logo {
    max-width: px(680);
  }

  .deco {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    .anser {
      position: absolute;
    }

    .anser01 {
      width: 4svw;
      right: 15svw;
      top: 11svw;
    }

    .anser02 {
      width: 5.5svw;
      right: 14svw;
      top: 15svw;
    }

    .anser03 {
      width: 1.5svw;
      right: 38svw;
      top: 7svw;
    }

    .anser04 {
      width: 3svw;
      left: 12svw;
      top: 21svw;
    }
  }
}

#about {
  display: flex;
  flex-wrap: wrap;
  margin: px(200) 0;
  gap: 0 px(60);

  h2 {
    flex: 100%;
  }

  .about-content {
    padding-top: px(60);
    flex: 1;
  }

  @include max-to(pad) {
    gap: px(16);

    h2 {
      text-align: right;
    }

    .about-content {
      padding-top: px(16);
    }
  }

  @include max-to(mobile) {
    flex-wrap: wrap;
    gap: 0;

    h2 {
      text-align: left;
      margin-bottom: 0;
    }

    .vertical {
      flex: 100%;
    }
  }
}

#attorneys {
  position: relative;
  display: flex;
  gap: px(54);
  margin-bottom: px(300);

  .vertical {
    margin-top: px(220);
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: px(4);
    width: 100%;

    .photo {
      display: flex;
      justify-content: flex-end;

      img {
        width: px(210);
      }
    }

    h4 {
      margin-bottom: px(24);
    }

    .desc {
      flex: 1;
      line-height: 1.8;

      dt {
        font-weight: weight(SemiBold);
      }

      dd {
        font-weight: weight(Light);
        text-align: justify;

        + dt {
          margin-top: px(20);
        }
      }
    }
  }

  @include max-to(mobile) {
    flex-wrap: wrap;
    gap: 0;

    .vertical {
      flex: 100%;
      margin-bottom: px(16);
    }

    > div {
      h4 {
        margin-bottom: 0;
      }

      .photo {
        order: 1;
        justify-content: center;
        margin-bottom: px(20);
      }

      .desc {
        order: 2;
      }
    }
  }
}

#service {
  color: color(white);
}

footer {
  position: relative;
  text-align: center;
  @include font(16, Light);
  padding: 30svw px(60) px(60);
  color: color(white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: px(26);

  .line {
    max-width: px(100);
  }

  .contact {
    text-align: left;
  }

  p {
    font-size: px(20);
    font-family: athelas, Yu Kyokasho New B, cursive;
  }

  a {
    color: color(white);
    @include a-color(white);
  }

  .desc {
    flex: 100%;
    font-size: px(16);

    br {
      display: none;
    }
  }

  .deco {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    .footer-anser {
      position: absolute;
    }

    .footer-anser01 {
      width: 5svw;
      right: 17svw;
      bottom: 12svw;
    }

    .footer-anser02 {
      width: 5.5svw;
      right: 14svw;
      bottom: 12svw;
    }

    .footer-anser03 {
      width: 4.5svw;
      left: 16svw;
      bottom: 12svw;
    }
  }

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: 0;
    left: 0;
    width: 100svw;
    height: px(5000);
    background-image: url("../img/bg_bottom.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
  }

  @include max-to(mobile) {
    padding: px(300) px(20) px(100);

    .contact {
      text-align: center;
      flex: 100%;
    }

    .desc {
      line-height: 1.5;

      br {
        display: inline;
      }
    }

    &::before {
      background-size: 300%;
    }
  }
}
