section {
  position: relative;
  overflow: hidden;
  padding: 0 px(140);

  @include max-to(pad) {
    padding: px(20);
  }
}

#keyvision {
  width: 100dvw;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-image: url("../img/anser.svg");
  // background-size: 100%;
  // background-repeat: no-repeat;
  // background-position: top center;

  .main-logo {
    max-width: px(680);
  }

  .deco {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    .anser {
      position: absolute;
    }

    .anser01 {
      width: 4svw;
      right: 15svw;
      top: 11svw;
    }

    .anser02 {
      width: 5.5svw;
      right: 14svw;
      top: 15svw;
    }

    .anser03 {
      width: 1.5svw;
      right: 38svw;
      top: 7svw;
    }

    .anser04 {
      width: 3svw;
      left: 12svw;
      top: 21svw;
    }
  }
}

#about {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: px(150);
  gap: 0 px(60);

  h2 {
    flex: 100%;
  }

  .about-content {
    padding-top: px(60);
    flex: 1;
  }

  @include max-to(pad) {
    gap: px(16);

    h2 {
      text-align: right;
    }

    .about-content {
      padding-top: px(16);
    }
  }

  @include max-to(mobile) {
    flex-wrap: wrap;
    gap: 0;

    h2 {
      text-align: left;
      margin-bottom: 0;
    }

    .vertical {
      flex: 100%;
    }
  }
}

#service {
  position: relative;
  display: flex;
  gap: px(54);
  margin-bottom: px(300);

  .vertical {
    margin-top: px(220);
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: px(4);
    width: 100%;

    .photo {
      display: flex;
      justify-content: flex-end;

      img {
        width: px(210);
      }
    }

    h4 {
      margin-bottom: px(24);
    }

    .desc {
      flex: 1;
      line-height: 1.8;

      dt {
        font-weight: weight(SemiBold);
      }

      dd {
        font-weight: weight(Light);
        text-align: justify;

        + dt {
          margin-top: px(20);
        }
      }
    }
  }

  @include max-to(mobile) {
    flex-wrap: wrap;
    gap: 0;

    .vertical {
      flex: 100%;
      margin-bottom: px(16);
    }

    > div {
      h4 {
        margin-bottom: 0;
      }

      .photo {
        order: 1;
        justify-content: center;
        margin-bottom: px(20);
      }

      .desc {
        order: 2;
      }
    }
  }
}

footer {
  position: relative;
  text-align: center;
  @include font(16, Light);
  padding: 30svw px(60) px(60);

  span {
    & + span {
      margin-left: px(40);
    }
  }

  ul {
    text-align: center;
    line-height: 1.5;
    overflow: hidden;
    margin-top: px(10);

    li {
      display: inline-block;
      overflow: hidden;

      &:not(:last-child) {
        &::after {
          content: "｜";
        }
      }
    }
  }

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: 0;
    left: 0;
    width: 100svw;
    height: px(5000);
    background-image: url("../img/bg_bottom.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
  }
}
