form {
  .input {
    position: relative;
    border-radius: px(6);
    background: linear-gradient(
      to right bottom,
      rgba(white, 0.1) 0%,
      transparent 50%,
      rgba(white, 0.1) 100%
    );

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: px(6);
      padding: px(2);
      background: linear-gradient(
        to left bottom,
        white 0%,
        transparent 50%,
        white 100%
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  input {
    color: white;
    width: 100%;
    height: 100%;
    font-size: px(20);
    padding: px(10);
    border-radius: px(6);
    position: relative;
    margin-bottom: px(-2);

    &[type="text"] {
      padding: px(10) px(28);
      letter-spacing: px(2);
      border: none;
      background: transparent;

      &::placeholder {
        color: rgba(white, 0.7);
      }
    }

    &[type="submit"] {
      letter-spacing: px(1);
      font-weight: 800;
      border-color: #ffc736;
      background: linear-gradient(to right bottom, #fcff61 0%, #d5551d 100%);
    }

    &[disabled] {
      background: linear-gradient(
        to right bottom,
        rgba(white, 0.3) 0%,
        rgba(white, 0.5) 50%,
        rgba(white, 0.3) 100%
      );
      color: rgba(white, 0.5);
      cursor: default;
      border-color: rgba(white, 0.3);

      &::placeholder {
        color: rgba(white, 0.5);
      }

      &:hover {
        box-shadow: none;
      }
    }
  }

  @include max-to(pad) {
    input {
      font-size: px(14);

      &[type="text"] {
        padding: px(10) px(14);
      }
    }
  }
}
